[core]
    editor = code --new-window --wait
[push]
    default = simple
[alias]
    todos = !git status && echo && git loog
    fuck = !git add -A && git commit --amend --no-edit
    sorry = !git add -A && git rebase --continue
    checokut = checkout
[color "status"]
    added = white bold
    changed = yellow bold
    untracked = green bold
[color "diff"]
    new = green
    old = magenta
